<div>
    <h1>Kitten Shelter</h1>
    <nav>
        <ul>
            <li><a href="/kittens">home</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Connect</a></li>
        </ul>
    </nav>
</div>